<br>
<h1>All Your Lists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.name %></td>
        <td><%= link_to 'Show', list %></td>
        <td><%= link_to 'Update this list', edit_list_path(list) %></td>
        <td><%= link_to 'Delete this list', list_path(list), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Create a new list', new_list_path %>
