<br>

<div class="list-name">
  <h1><%= @list.name %></h1>
</div>

<div class="cards-show">
  <% @list.movies.each do |movie| %>
  <div class="card-movie-show col-sm-3">
    <div class="card-movie-image">
        <% bookmark = Bookmark.find_by(list_id: @list.id, movie_id: movie.id)%>
        <%= cl_image_tag movie.photo.key, height: 300, width: 400, crop: :fit %>
    </div>
    <div class="card-movie-show-details">
      <% bookmark = Bookmark.find_by(list_id: @list.id, movie_id: movie.id)%>
      <strong><%= movie.title %></strong>
      <% bookmark = Bookmark.find_by(list_id: @list.id, movie_id: movie.id)%>
      <%= movie.overview %>
      <br>
      <p><strong>Comment:</strong><% bookmark = Bookmark.find_by(list_id: @list.id, movie_id: movie.id)%>
      <%= bookmark.comment %></p>
      <br>
      <%= link_to "delete", list_bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, class: "text-delete" %>
    </div>
  </div>
  <% end %>
</div>
<br>


<br>
<div class="btn-div">
<%= link_to 'Add a film(create bookmark)', new_list_bookmark_path(@list), class: "btn-show" %>
<%= link_to 'Back to all lists', lists_path, class: "btn-show" %>
</div>
