<br>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>



  <% @list.movies.each do |movie| %>
  <div class"col-sm-3">
  <div class="card-movie">
      <% bookmark = Bookmark.find_by(list_id: @list.id, movie_id: movie.id)%>
      <%= cl_image_tag movie.photo.key, height: 300, width: 400, crop: :fit %>

    <div class="card-movie-details">
    <% bookmark = Bookmark.find_by(list_id: @list.id, movie_id: movie.id)%>
    <strong><%= movie.title %></strong>
    <% bookmark = Bookmark.find_by(list_id: @list.id, movie_id: movie.id)%>
    <%= movie.overview %>
    <p>Comment (this would be like entering a review)</p>
    </div>
    <%= link_to "delete", list_bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, class: 'text-danger' %>
  </div>
  </div>
  <% end %>
  <br>


<br>
<%= link_to 'Add a film(create bookmark)', new_list_bookmark_path(@list) %>
<%= link_to 'Back to all lists', lists_path %>

COMMENT
