<br>
<h1>Edit bookmark (bookmark).</h1>
<br>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.submit "Save movie in bookmark", class: "btn btn-primary" %>
<% end %>
<br>
<%= link_to 'Back', list_path(@list) %>
