<br>
<h1>All movies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Overview</th>
      <th>Poster</th>
      <th>Rating</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <table>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.title %></td>
          <td><%= movie.overview %></td>
          <td><%= cl_image_tag movie.photo.key, height: 300, width: 400, crop: :fill %></td>
          <td><%= movie.rating %></td>
          <td><%= link_to 'Show', movies_path %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
