<br>
<h1>All movies</h1>
<br>
<%= link_to 'Go to lists', lists_path %>
<br>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Overview</th>
      <th>Poster</th>
      <th>Rating</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <br>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.overview %></td>
        <td><%= cl_image_tag movie.photo.key, height: 300, width: 400, crop: :fit %></td>
        <td><%= movie.rating %></td>
        <td><%= link_to 'Show', movies_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>
